:root {
    --primary: #003DA5;
    --green: #97D700;
    --green-dark: #6CD44D;
    --celeste: #05C3DD;
    --body: #302f30;
    --gray: #6C6C6C;
    --body-white: #F6F6F6;
    --body-40: rgba(48, 47, 48, 0.4);
    --white: #fff;
    --black: #000;
    --white-text: #f9fafb;

    /*
       * Breakpoint definitions used in Storybook
       */
    --smallViewport: 576px;
    --mediumViewport: 768px;
    --largeViewport: 992px;
    --extraLargeViewport: 1200px;
}

@import './fonts.css';
@import './Header.css';
@import './Carousel.css';