.Carousel {
  @apply w-full;
}

@media (min-width:998px) {
  .Carousel--fullWidth .splide__track {
    max-width: 100%;
    @apply mx-auto;
  }

  .Carousel--w-80 .splide__track {
    max-width: 80%;
    @apply mx-auto;
  }
}

.Carousel .splide__arrows .splide__arrow {
  background-color: #01010140;
  @apply rounded-xs;
  width: 46px;
  height: 45px;
}

.Carousel .splide__arrows .splide__arrow--next {
  right: 2rem;
}

.Carousel .splide__arrows .splide__arrow--prev {
  left: 2rem;
}

.Carousel .splide__arrows .splide__arrow svg path {
  @apply fill-body-white;
  width: 18px;
  height: 10px;
}

/* !Modifiers*/

.Carousel--primary .splide__arrows .splide__arrow {
  top: calc(100% + 60px);
  transform: translateY(0)
}

.Carousel--primary .splide__arrows .splide__arrow--prev {
  left: unset;
  @apply right-12;
}

.Carousel--secondary .splide__arrows .splide__arrow {
  top: calc(100% + 20px);
  transform: translateY(0)
}

.Carousel--secondary .splide__arrows .splide__arrow--next,
.Carousel--primary .splide__arrows .splide__arrow--next {
  @apply right-0;
}

.Carousel--secondary .splide__arrows .splide__arrow--prev {
  left: unset;
  @apply right-12;
}

.Carousel--video .splide__arrows {
  @apply absolute;
  @apply left-0;
  @apply top-0;
  @apply w-full;
  max-width: 1080px;
}

.Carousel--video .splide__arrows .splide__arrow {
  @apply top-0;
  transform: translateY(0)
}

.Carousel--video .splide__arrows .splide__arrow--prev {
  left: unset;
  @apply right-12;
}

.Carousel--video .splide__arrows .splide__arrow--next {
  @apply right-0
}

@media (min-width: 998px) {
  .Carousel--primary {
    margin-bottom: 7rem;
    @apply inline-block;
  }

  .Carousel--secondary .splide__track,
  .Carousel--video .splide__track {
    max-width: 90%;
    margin-left: auto;
  }

  .Carousel--video .splide__arrows {
    margin-left: 10%;
  }

  .CarouselConvenio__carousel li.activeSlide article {
    @apply !rounded-none;
  }

  .CarouselConvenio__carousel li.activeSlide article>* {
    @apply opacity-0
  }

  .CarouselConvenio__carousel li.activeSlide article::before {
    content: '';
    @apply absolute;
    border-radius: 20px 0;
    background: linear-gradient(90deg, rgba(217, 217, 217, 1) -14.64%, rgba(217, 217, 217, 0) 33.64%);
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-full;
    @apply z-2
  }
}