.button {
  cursor: pointer;
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 16px;
}

.button:hover {
  filter: brightness(0.85)
}

.button:focus-visible {
  outline: none;
}

.button--primary {
  color: white;
  background-color: var(--primary);
}

.button--secondary {
  color: var(--body);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.button--small {
  width: 100%;
  font-size: 12px;
  padding: 10px 16px;
  min-height: 30px;
}

.button--medium {
  width: 100%;
  min-height: 40px;
}

.button--large {
  padding: 12px 24px;
  width: 100%;
  min-height: 56px;
}

.button--fullWidth {
  max-width: 100%;
  width: 100%;
  min-height: 56px;
}

.button .outline {
  background: transparent;
  border: 1px solid;
}

@media (min-width:778px) {
  .button--small {
    width: unset;
    min-width: 100px;
  }

  .button--medium {
    width: unset;
    min-width: 175px;
  }

  .button--large {
    width: unset;
    min-width: 265px;
  }

}

.disabled {
  border: 3px solid transparent;
  opacity: 0.6;
}

.disabled:hover {
  border: 3px solid transparent;
  cursor: not-allowed;
}