.main-menu a {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 13.38px;
    color: var(--gray);
}

.main-menu>ul>li {
    flex-grow: 1;
}

.main-menu>ul>li>div>ul>li a {
    margin-bottom: 21px;
}

.main-menu>ul>li>div>ul>li>ul li a {
    font-size: 12px;
}

.main-menu span {
    display: block;
    font-size: 10px;
}