/* .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.grid-item {
    padding: 15px;
    margin-bottom: 20px;

}

@media (max-width: 998px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
} */